.actionButtonsSpacer {
    height: 50px;
    display: flex;
    align-items: center;
}
.actionButtons {
    display: flex;
    gap: 10px;
    padding-left: 20px;
}
.overlay {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}